<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns#">
	<!--[if lt IE 7 ]><html prefix="og: http://ogp.me/ns#" class="ie ie6" lang="mn"> <![endif]-->
	<!--[if IE 7 ]><html prefix="og: http://ogp.me/ns#" class="ie ie7" lang="mn"> <![endif]-->
	<!--[if IE 8 ]><html prefix="og: http://ogp.me/ns#" class="ie ie8" lang="mn"> <![endif]-->
	<!--[if (gte IE 9)|!(IE)]><!--><html prefix="og: http://ogp.me/ns#" lang="mn"> <!--<![endif]-->
	<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#">
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<title>Улсын Дээд Шүүх</title>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<link rel="shortcut icon" href="assets/img/favicon.ico">

		<!-- Fonts -->
		<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" />
		<link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700&amp;subset=latin,cyrillic-ext,cyrillic' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="assets/css/bootstrap.css" media="all">
		<link rel="stylesheet" href="assets/css/ekko-lightbox.min.css" media="all">
		<link rel="stylesheet" href="assets/css/style.css" media="all">
		<!--[if lt IE 9]>
			<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
	</head>

	<body>
		<!-- Header -->
		<header class="header">
			<div class="top-bar">
				<div class="container">
					<ul class="pull-left hidden-xs">
						<li><a href="#">Нүүр хуудас</a></li>
						<li><a href="#">Сайтын бүтэц</a></li>
						<li><a href="#">Холбоо барих</a></li>
					</ul>
					<ul class="pull-right">
						<li><a href="#"><img src="assets/img/mn.png" border="0"> Монгол</a></li>
						<li><a href="#"><img src="assets/img/en.png" border="0"> English</a></li>
					</ul>
				</div>
			</div>
			<div class="bg">
				<div class="container">
					<div class="row">
						<div class="col-sm-9">
						 	<a href="#" class="logo">
						 		<img class="img-responsive" src="assets/img/logo-lg.png" border="0">
						 	</a>
						</div>
						<div class="col-sm-3 hidden-xs pull-right">
							<script>
							  (function() {
							    var cx = '013171371929879870234:ovdiebfoisg';
							    var gcse = document.createElement('script');
							    gcse.type = 'text/javascript';
							    gcse.async = true;
							    gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
							        '//cse.google.com/cse.js?cx=' + cx;
							    var s = document.getElementsByTagName('script')[0];
							    s.parentNode.insertBefore(gcse, s);
							  })();
							</script>
							<gcse:search></gcse:search>
						</div>
					</div>
				</div>
			</div>
		</header>

		<!-- Navbars -->
		<nav class="navbar navbar-default navbar-static-top">
			<div class="container">
			    <!-- Brand and toggle get grouped for better mobile display -->
			    <div class="navbar-header">
			      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
			        <span class="sr-only">Toggle navigation</span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			      </button>
			    </div>

			    <!-- Collect the nav links, forms, and other content for toggling -->
			    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			      <ul class="nav navbar-nav">
			        <li class="active"><a href="#">Нүүр хуудас</a></li>
			        <li><a href="#">Түүхэн замнал</a></li>
			        <li><a href="#">Улсын дээд шүүх</a></li>
			        <li><a href="#">Шүүх</a></li>
			        <li><a href="#">Шүүгч</a></li>
			        <li class="dropdown">
			          	<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Мэдээ мэдээлэл <span class="caret"></span></a>
			   			<ul class="dropdown-menu" role="menu">
				            <li><a href="#">Мэдээний төрөл</a></li>
				            <li><a href="#">Мэдээний төрөл</a></li>
				            <li><a href="#">Мэдээний төрөл</a></li>
				            <li class="divider"></li>
				            <li><a href="#">Мэдээний төрөл</a></li>
				            <li class="divider"></li>
				            <li><a href="#">Мэдээний төрөл</a></li>
			          	</ul>
			        </li>
			        <li><a href="#">Тайлан</a></li>
			        <li><a href="#">Шилэн данс</a></li>
			        <li><a href="#">Холбоо барих</a></li>
			      </ul>
			    </div><!-- /.navbar-collapse -->
		  	</div><!-- /.container-fluid -->
		</nav>

		<!-- Main Content -->
		<div class="container">
			<div class="row">

				<!-- Үндсэн нүүр -->
				<div class="col-md-9 main-column">
					<div class="row">
						<!-- Календарь -->
						<div class="col-md-7 col-sm-7">
							<section>
								<h3 class="section-title">Календарь</h3>
								<div class="stripe-line"></div>
								<div class="section-content">
									<div class="row">
										<div class="col-md-7 clndr">
											<div class="clndr-controls">
											  	<div class="clndr-previous-button"><i class="fa fa-caret-left"></i></div>
											  	<div class="month"><%= month %></div>
											  	<div class="clndr-next-button"><i class="fa fa-caret-right"></i></div>
											</div>
											<div class="clndr-grid">
											  	<div class="days-of-the-week">
											    	<% _.each(daysOfTheWeek, function(day) { %>
											      		<div class="header-day"><%= day %></div>
											    	<% }); %>
											    	<div class="days">
											      		<% _.each(days, function(day) { %>
											        		<div class="<%= day.classes %>"><%= day.day %></div>
											      		<% }); %>
											    	</div>
											  	</div>
											</div></div>
										<div class="col-md-5">
											<ul class="desc">
											    <li>Argument days</li>
											    <li class="des2">Non-Argument days</li>
											    <li class="des3">Conference days</li>
											    <li class="des4">Holiday</li>
											</ul>	
										</div>
									</div>
								</div>
							</section>
						</div>

						<!-- Онцлох мэдээ -->
						<div class="col-md-5 col-sm-5">
							<section>
								<h3 class="section-title">Онцлох мэдээ</h3>
								<div class="stripe-line"></div>
								<div class="section-content">
									<a class="newsThumbnail" href="#">
										<img src="http://lorempixel.com/735/435/business/1" class="img-responsive" alt="">
										<div class="overlay">
											<h5 class="title">
												Дээд шүүхийн шүүгчид нэр дэвшигчдийг танилцууллаа
											</h5>
										</div>
									</a>
								</div>
							</section>
						</div>

						<div class="col-xs-12">
							<div class="dividert"></div>
						</div>

						<!-- TABS -->						
						<div class="col-md-12">
							<section>
								<div class="tabbable-panel">
									<div class="tabbable-line">
										<!-- Nav tabs -->
										<ul class="nav nav-tabs" role="tablist">
										    <li role="presentation" class="active">
										    	<a href="#home" data-scroll="scrollbar1" aria-controls="home" role="tab" data-toggle="tab">
										    		Үйл явдал
										    	</a>
										    </li>
										    <li role="presentation">
										    	<a href="#profile" data-scroll="scrollbar2" aria-controls="profile" role="tab" data-toggle="tab">
										    		Эрх зүйн акт
										    	</a>
										    </li>
										    <li role="presentation">
										    	<a href="#messages" data-scroll="scrollbar3" aria-controls="messages" role="tab" data-toggle="tab">
										    		Шилэн данс
										    	</a>
										    </li>
											<li role="presentation">
												<a href="#settings" data-scroll="scrollbar4" aria-controls="settings" role="tab" data-toggle="tab">
													Улс төрийн нам
												</a>
											</li>
										</ul>

										  <!-- Tab panes -->
										<div class="tab-content">
											<section role="tabpanel" class="tab-pane fade in active" id="home">
												<div class="section-content">
													<div class="scrollbarMain" id="scrollbar1">
													    <div class="scrollbar">
													      	<div class="track">
													        	<div class="thumb">
													          		<div class="end"></div>
													        	</div>
													      	</div>
													    </div>
													    <div class="viewport">
													      	<div class="overview">
																<div class="row">
																	<div class="col-sm-6">
																		<a href="#" class="newsThumbnail clearfix">
																			<img src="http://lorempixel.com/224/170/business/10/" class="left" alt="">
																			<div class="overlay-right">
																				<h5 class="title">
																					2015 оны 4 дүгээр сарын 20-ны өдрийн хяналтын шатны захиргааны хэргийн Шүүх хуралдааны тойм
																				</h5>
																				<span class="date">2015-04-20</span>
																			</div>
																		</a>
																	</div>
																	<div class="col-sm-6">
																		<a href="#" class="newsThumbnail clearfix">
																			<img src="http://lorempixel.com/224/170/business/9/" class="left" alt="">
																			<div class="overlay-right">
																				<h5 class="title">
																					2015 оны 4 дүгээр сарын 20-ны өдрийн хяналтын шатны захиргааны хэргийн Шүүх хуралдааны тойм
																				</h5>
																				<span class="date">2015-04-20</span>
																			</div>
																		</a>
																	</div>
																	<div class="col-sm-6">
																		<a href="#" class="newsThumbnail clearfix">
																			<img src="http://lorempixel.com/224/170/business/8/" class="left" alt="">
																			<div class="overlay-right">
																				<h5 class="title">
																					2015 оны 4 дүгээр сарын 20-ны өдрийн хяналтын шатны захиргааны хэргийн Шүүх хуралдааны тойм
																				</h5>
																				<span class="date">2015-04-20</span>
																			</div>
																		</a>
																	</div>
																	<div class="col-sm-6">
																		<a href="#" class="newsThumbnail clearfix">
																			<img src="http://lorempixel.com/224/170/business/7/" class="left" alt="">
																			<div class="overlay-right">
																				<h5 class="title">
																					2015 оны 4 дүгээр сарын 20-ны өдрийн хяналтын шатны захиргааны хэргийн Шүүх хуралдааны тойм
																				</h5>
																				<span class="date">2015-04-20</span>
																			</div>
																		</a>
																	</div>
																	<div class="col-sm-6">
																		<a href="#" class="newsThumbnail clearfix">
																			<img src="http://lorempixel.com/224/170/business/6/" class="left" alt="">
																			<div class="overlay-right">
																				<h5 class="title">
																					2015 оны 4 дүгээр сарын 20-ны өдрийн хяналтын шатны захиргааны хэргийн Шүүх хуралдааны тойм
																				</h5>
																				<span class="date">2015-04-20</span>
																			</div>
																		</a>
																	</div>
																	<div class="col-sm-6">
																		<a href="#" class="newsThumbnail clearfix">
																			<img src="http://lorempixel.com/224/170/business/5/" class="left" alt="">
																			<div class="overlay-right">
																				<h5 class="title">
																					2015 оны 4 дүгээр сарын 20-ны өдрийн хяналтын шатны захиргааны хэргийн Шүүх хуралдааны тойм
																				</h5>
																				<span class="date">2015-04-20</span>
																			</div>
																		</a>
																	</div>
																	<div class="col-sm-6">
																		<a href="#" class="newsThumbnail clearfix">
																			<img src="http://lorempixel.com/224/170/business/4/" class="left" alt="">
																			<div class="overlay-right">
																				<h5 class="title">
																					2015 оны 4 дүгээр сарын 20-ны өдрийн хяналтын шатны захиргааны хэргийн Шүүх хуралдааны тойм
																				</h5>
																				<span class="date">2015-04-20</span>
																			</div>
																		</a>
																	</div>
																	<div class="col-sm-6">
																		<a href="#" class="newsThumbnail clearfix">
																			<img src="http://lorempixel.com/224/170/people/11/" class="left" alt="">
																			<div class="overlay-right">
																				<h5 class="title">
																					2015 оны 4 дүгээр сарын 20-ны өдрийн хяналтын шатны захиргааны хэргийн Шүүх хуралдааны тойм
																				</h5>
																				<span class="date">2015-04-20</span>
																			</div>
																		</a>
																	</div>
																</div>
													      	</div>
													    </div>
													</div>
												</div>					
											</section>
										    <section role="tabpanel" class="tab-pane fade" id="profile">
												<div class="section-content">
													<div class="scrollbarMain" id="scrollbar2">
													    <div class="scrollbar">
													      	<div class="track">
													        	<div class="thumb">
													          		<div class="end"></div>
													        	</div>
													      	</div>
													    </div>
													    <div class="viewport">
													      	<div class="overview">
																<div class="row">
																	<div class="col-sm-6">
																		<a href="#" class="newsThumbnail clearfix">
																			<img src="http://lorempixel.com/224/170/people/10/" class="left" alt="">
																			<div class="overlay-right">
																				<h5 class="title">
																					2015 оны 4 дүгээр сарын 20-ны өдрийн хяналтын шатны захиргааны хэргийн Шүүх хуралдааны тойм
																				</h5>
																				<span class="date">2015-04-20</span>
																			</div>
																		</a>
																	</div>
																	<div class="col-sm-6">
																		<a href="#" class="newsThumbnail clearfix">
																			<img src="http://lorempixel.com/224/170/people/9/" class="left" alt="">
																			<div class="overlay-right">
																				<h5 class="title">
																					2015 оны 4 дүгээр сарын 20-ны өдрийн хяналтын шатны захиргааны хэргийн Шүүх хуралдааны тойм
																				</h5>
																				<span class="date">2015-04-20</span>
																			</div>
																		</a>
																	</div>
																</div>
													      	</div>
													    </div>
													</div>
												</div>	
										    </section>
										    <section role="tabpanel" class="tab-pane fade" id="messages">
												<div class="section-content">
													<div class="scrollbarMain" id="scrollbar3">
													    <div class="scrollbar">
													      	<div class="track">
													        	<div class="thumb">
													          		<div class="end"></div>
													        	</div>
													      	</div>
													    </div>
													    <div class="viewport">
													      	<div class="overview">
																<div class="row">
																	<div class="col-sm-6">
																		<a href="#" class="newsThumbnail clearfix">
																			<img src="http://lorempixel.com/224/170/people/2/" class="left" alt="">
																			<div class="overlay-right">
																				<h5 class="title">
																					2015 оны 4 дүгээр сарын 20-ны өдрийн хяналтын шатны захиргааны хэргийн Шүүх хуралдааны тойм
																				</h5>
																				<span class="date">2015-04-20</span>
																			</div>
																		</a>
																	</div>
																	<div class="col-sm-6">
																		<a href="#" class="newsThumbnail clearfix">
																			<img src="http://lorempixel.com/224/170/people/1/" class="left" alt="">
																			<div class="overlay-right">
																				<h5 class="title">
																					2015 оны 4 дүгээр сарын 20-ны өдрийн хяналтын шатны захиргааны хэргийн Шүүх хуралдааны тойм
																				</h5>
																				<span class="date">2015-04-20</span>
																			</div>
																		</a>
																	</div>
																	<div class="col-sm-6">
																		<a href="#" class="newsThumbnail clearfix">
																			<img src="http://lorempixel.com/224/170/transport/10/" class="left" alt="">
																			<div class="overlay-right">
																				<h5 class="title">
																					2015 оны 4 дүгээр сарын 20-ны өдрийн хяналтын шатны захиргааны хэргийн Шүүх хуралдааны тойм
																				</h5>
																				<span class="date">2015-04-20</span>
																			</div>
																		</a>
																	</div>
																	<div class="col-sm-6">
																		<a href="#" class="newsThumbnail clearfix">
																			<img src="http://lorempixel.com/224/170/transport/9/" class="left" alt="">
																			<div class="overlay-right">
																				<h5 class="title">
																					2015 оны 4 дүгээр сарын 20-ны өдрийн хяналтын шатны захиргааны хэргийн Шүүх хуралдааны тойм
																				</h5>
																				<span class="date">2015-04-20</span>
																			</div>
																		</a>
																	</div>
																	<div class="col-sm-6">
																		<a href="#" class="newsThumbnail clearfix">
																			<img src="http://lorempixel.com/224/170/transport/8/" class="left" alt="">
																			<div class="overlay-right">
																				<h5 class="title">
																					2015 оны 4 дүгээр сарын 20-ны өдрийн хяналтын шатны захиргааны хэргийн Шүүх хуралдааны тойм
																				</h5>
																				<span class="date">2015-04-20</span>
																			</div>
																		</a>
																	</div>
																	<div class="col-sm-6">
																		<a href="#" class="newsThumbnail clearfix">
																			<img src="http://lorempixel.com/224/170/transport/7/" class="left" alt="">
																			<div class="overlay-right">
																				<h5 class="title">
																					2015 оны 4 дүгээр сарын 20-ны өдрийн хяналтын шатны захиргааны хэргийн Шүүх хуралдааны тойм
																				</h5>
																				<span class="date">2015-04-20</span>
																			</div>
																		</a>
																	</div>
																	<div class="col-sm-6">
																		<a href="#" class="newsThumbnail clearfix">
																			<img src="http://lorempixel.com/224/170/transport/6/" class="left" alt="">
																			<div class="overlay-right">
																				<h5 class="title">
																					2015 оны 4 дүгээр сарын 20-ны өдрийн хяналтын шатны захиргааны хэргийн Шүүх хуралдааны тойм
																				</h5>
																				<span class="date">2015-04-20</span>
																			</div>
																		</a>
																	</div>
																	<div class="col-sm-6">
																		<a href="#" class="newsThumbnail clearfix">
																			<img src="http://lorempixel.com/224/170/transport/5/" class="left" alt="">
																			<div class="overlay-right">
																				<h5 class="title">
																					2015 оны 4 дүгээр сарын 20-ны өдрийн хяналтын шатны захиргааны хэргийн Шүүх хуралдааны тойм
																				</h5>
																				<span class="date">2015-04-20</span>
																			</div>
																		</a>
																	</div>
																</div>
													      	</div>
													    </div>
													</div>
												</div>	
										    </section>
										    <section role="tabpanel" class="tab-pane fade" id="settings">
												<div class="section-content">
													<div class="scrollbarMain" id="scrollbar4">
													    <div class="scrollbar">
													      	<div class="track">
													        	<div class="thumb">
													          		<div class="end"></div>
													        	</div>
													      	</div>
													    </div>
													    <div class="viewport">
													      	<div class="overview">
																<div class="row">
																	<div class="col-sm-6">
																		<a href="#" class="newsThumbnail clearfix">
																			<img src="http://lorempixel.com/224/170/transport/4/" class="left" alt="">
																			<div class="overlay-right">
																				<h5 class="title">
																					2015 оны 4 дүгээр сарын 20-ны өдрийн хяналтын шатны захиргааны хэргийн Шүүх хуралдааны тойм
																				</h5>
																				<span class="date">2015-04-20</span>
																			</div>
																		</a>
																	</div>
																	<div class="col-sm-6">
																		<a href="#" class="newsThumbnail clearfix">
																			<img src="http://lorempixel.com/224/170/transport/3/" class="left" alt="">
																			<div class="overlay-right">
																				<h5 class="title">
																					2015 оны 4 дүгээр сарын 20-ны өдрийн хяналтын шатны захиргааны хэргийн Шүүх хуралдааны тойм
																				</h5>
																				<span class="date">2015-04-20</span>
																			</div>
																		</a>
																	</div>
																	<div class="col-sm-6">
																		<a href="#" class="newsThumbnail clearfix">
																			<img src="http://lorempixel.com/224/170/transport/2/" class="left" alt="">
																			<div class="overlay-right">
																				<h5 class="title">
																					2015 оны 4 дүгээр сарын 20-ны өдрийн хяналтын шатны захиргааны хэргийн Шүүх хуралдааны тойм
																				</h5>
																				<span class="date">2015-04-20</span>
																			</div>
																		</a>
																	</div>
																	<div class="col-sm-6">
																		<a href="#" class="newsThumbnail clearfix">
																			<img src="http://lorempixel.com/224/170/transport/1/" class="left" alt="">
																			<div class="overlay-right">
																				<h5 class="title">
																					2015 оны 4 дүгээр сарын 20-ны өдрийн хяналтын шатны захиргааны хэргийн Шүүх хуралдааны тойм
																				</h5>
																				<span class="date">2015-04-20</span>
																			</div>
																		</a>
																	</div>
																	<div class="col-sm-6">
																		<a href="#" class="newsThumbnail clearfix">
																			<img src="http://lorempixel.com/224/170/city/10/" class="left" alt="">
																			<div class="overlay-right">
																				<h5 class="title">
																					2015 оны 4 дүгээр сарын 20-ны өдрийн хяналтын шатны захиргааны хэргийн Шүүх хуралдааны тойм
																				</h5>
																				<span class="date">2015-04-20</span>
																			</div>
																		</a>
																	</div>
																	<div class="col-sm-6">
																		<a href="#" class="newsThumbnail clearfix">
																			<img src="http://lorempixel.com/224/170/city/9/" class="left" alt="">
																			<div class="overlay-right">
																				<h5 class="title">
																					2015 оны 4 дүгээр сарын 20-ны өдрийн хяналтын шатны захиргааны хэргийн Шүүх хуралдааны тойм
																				</h5>
																				<span class="date">2015-04-20</span>
																			</div>
																		</a>
																	</div>
																	<div class="col-sm-6">
																		<a href="#" class="newsThumbnail clearfix">
																			<img src="http://lorempixel.com/224/170/city/8/" class="left" alt="">
																			<div class="overlay-right">
																				<h5 class="title">
																					2015 оны 4 дүгээр сарын 20-ны өдрийн хяналтын шатны захиргааны хэргийн Шүүх хуралдааны тойм
																				</h5>
																				<span class="date">2015-04-20</span>
																			</div>
																		</a>
																	</div>
																	<div class="col-sm-6">
																		<a href="#" class="newsThumbnail clearfix">
																			<img src="http://lorempixel.com/224/170/city/7/" class="left" alt="">
																			<div class="overlay-right">
																				<h5 class="title">
																					2015 оны 4 дүгээр сарын 20-ны өдрийн хяналтын шатны захиргааны хэргийн Шүүх хуралдааны тойм
																				</h5>
																				<span class="date">2015-04-20</span>
																			</div>
																		</a>
																	</div>
																</div>
													      	</div>
													    </div>
													</div>
												</div>	
										    </section>
										</div>
									</div>
								</div>
							</section>
						</div>	
						
						<div class="col-xs-12">
							<div class="dividert"></div>
						</div>

						<!-- Фото мэдээ -->		
						<div class="col-md-6">
							<section>
								<h3 class="section-title">Фото мэдээ</h3>
								<div class="stripe-line"></div>
								<div class="section-content">
									<div class="row">
										<div class="col-sm-6">
											<div class="newsThumbnail">
												<img src="http://lorempixel.com/735/487/business/2" class="img-responsive" alt="">
												<div class="overlay-bottom">
													<h5 class="title">
														БНХАУ-ын Ардын Дээд шүүхийн дэргэдэх "Үндэсний шүүгчдийн коллеж”-ийн сургалтанд арван хоёр хоног хамрагдаад ирлээ.
													</h5>
												</div>
											</div>
										</div>
										<div class="col-sm-6">
											<div class="newsThumbnail">
												<img src="http://lorempixel.com/735/487/business/3" class="img-responsive" alt="">
												<div class="overlay-bottom">
													<h5 class="title">
														БНХАУ-ын Ардын Дээд шүүхийн дэргэдэх "Үндэсний шүүгчдийн коллеж”-ийн сургалтанд арван хоёр хоног хамрагдаад ирлээ.
													</h5>
												</div>
											</div>
										</div>
									</div>
								</div>					
							</section>
						</div>

						<!-- Видео мэдээ -->
						<div class="col-md-6">
							<section>
								<h3 class="section-title">Видео мэдээ</h3>
								<div class="stripe-line"></div>
								<div class="section-content">
									<div class="embed-responsive embed-responsive-16by9">
										<iframe class="embed-responsive-item"  width="853" height="480" src="https://www.youtube-nocookie.com/embed/fnF8-iKOVyo?rel=0" frameborder="0" allowfullscreen></iframe>
									</div>
								</div>
							</section>
						</div>
					</div>
				</div><!-- /.left-column -->

				<!-- SIDEBAR -->
				<div class="col-md-3 sidebar-column">
					<!-- Холбоосууд -->
					<section>
						<h3 class="section-title">Холбоосууд</h3>
								<div class="stripe-line"></div>
						<div class="section-content">
							<ul class="links">
							    <li>
							    	<a href="#">Дээд шүүхийн дарга, Ерөнхий шүүгчээр ажиллаж байсан хүмүүс</a>
							    </li>
							    <li>
							    	<a href="#">Шүүхээс төрсөн гавьяат хуульчид</a>
							    </li>
							    <li>
							    	<a href="#">Шүүхүүдийн цахим хуудас</a>
							    </li>
							    <li>
							    	<a href="#">Хууль тайлбарласан тогтоол</a>
							    </li>
							    <li>
							    	<a href="#">Улс төрийн нам бүртгэсэн тогтоол</a>
							    </li>
							    <li>
							    	<a href="#">Ерөнхий шүүгчийн захирамж</a>
							    </li>
							    <li>
							    	<a href="#">Зөвлөмж, тойм</a>
							    </li>
							    <li>
							    	<a href="#">Улс төрийн намууд</a>
							    </li>
							    <li>
							    	<a href="#">Ярилцлага, Нийтлэлүүд</a>
							    </li>
							    <li>
							    	<a href="#">Ном, товхимол</a>
							    </li>
							    <li>
							    	<a href="#">Бичлэг үзэх</a>
							    </li>
							</ul>
						</div>
					</section>

					<!-- Зураган холбоосууд -->
					<section>
						<div class="section-content">
							<ul class="big row">
							    <li class="col-sm-4 col-md-12">
							    	<a href="#">
							    		<img class="img-responsive" src="assets/img/link1.png" alt="">
							    	</a>
							    </li>
							    <li class="col-sm-4 col-md-12">
							    	<a href="#">
							    		<img class="img-responsive" src="assets/img/link2.png" alt="">
							    	</a>
							    </li>
							    <li class="col-sm-4 col-md-12">
							    	<a href="#">
							    		<img class="img-responsive" src="assets/img/link3.png" alt="">
							    	</a>
							    </li>
							</ul>
						</div>
					</section>

					<!-- Сүүлд нэмэгдсэн -->
					<section class="last">
						<h3 class="section-title">Сүүлд нэмэгдсэн</h3>
								<div class="stripe-line"></div>
						<div class="section-content">
							<div class="scrollbarMain" id="scrollbarLast">
							    <div class="scrollbar">
							      	<div class="track">
							        	<div class="thumb">
							          		<div class="end"></div>
							        	</div>
							      	</div>
							    </div>
							    <div class="viewport">
							      	<div class="overview">
										<ul>
										    <li>
										    	<a href="#">
										    		Г.Алтанчимэг, П.Золзаяа, П.Соёл-Эрдэнэ, Ч.Хосбаяр нар Дээд шүүхийн шүүгчээр томилогдлоо
										    	</a>
										    	<span class="date">22 Apr</span>
										    </li>
										    <li>
										    	<a href="#">
										    		“Эрх зүйн хөтөч” Захиргааны ерөнхий хуулийн эдвээр нэвтэрнэ
												</a>
										    	<span class="date">22 Apr</span>
											</li>
										    <li>
										    	<a href="#">
										    		Г.Алтанчимэг, П.Золзаяа, П.Соёл-Эрдэнэ, Ч.Хосбаяр нар Дээд шүүхийн шүүгчээр томилогдлоо
										    	</a>
										    	<span class="date">22 Apr</span>
										    </li>
										    <li>
										    	<a href="#">
										    		“Эрх зүйн хөтөч” Захиргааны ерөнхий хуулийн эдвээр нэвтэрнэ
												</a>
										    	<span class="date">22 Apr</span>
											</li>
										    <li>
										    	<a href="#">
										    		Г.Алтанчимэг, П.Золзаяа, П.Соёл-Эрдэнэ, Ч.Хосбаяр нар Дээд шүүхийн шүүгчээр томилогдлоо
										    	</a>
										    	<span class="date">22 Apr</span>
										    </li>
										    <li>
										    	<a href="#">
										    		“Эрх зүйн хөтөч” Захиргааны ерөнхий хуулийн эдвээр нэвтэрнэ
												</a>
										    	<span class="date">22 Apr</span>
											</li>
										</ul>
							      	</div>
							    </div>
							</div>
						</div>
					</section>

					<!-- Нэвтрэх -->
					<section class="login">
						<h3 class="section-title">Нэвтрэх</h3>
								<div class="stripe-line"></div>
						<div class="section-content">
							<form>
							  	<div class="form-group">
								    <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Нэвтрэх нэр">
							  	</div>
							  	<div class="form-group">
								    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Нууц үг">
							  	</div>
							  	<button type="button" class="btn btn-link">Нууц үгээ мартсан уу?</button>
							  	<button type="submit" class="btn btn-primary pull-right">Нэвтрэх</button>
							</form>
						</div>
					</section>
				</div><!-- /.right-column -->

			</div>
		</div>

		<footer>
			<div class="container">
				<div class="row">
					<div class="col-sm-6 col-md-3">
						<section>
							<h3 class="section-title">Улсын дээд шүүх</h3>
							<ul class="section-content">
								<li>
									<a href="#">Хэрэг хянан шийдвэрлэх үйл ажиллагаа</a>
								</li>
								<li>
									<a href="#">Шүүгчдийн танилцуулга</a>
								</li>
								<li>
									<a href="#">Тамгын газрын бүтэц, зохион байгуулалт</a>
								</li>
								<li>
									<a href="#">Иргэдийг хүлээж авах хуваарь</a>
								</li>
							</ul>
						</section>
					</div>
					<div class="col-sm-6 col-md-3">
						<section>
							<h3 class="section-title">Улсын дээд шүүх</h3>
							<ul class="section-content">
								<li>
									<a href="#">Хэрэг хянан шийдвэрлэх үйл ажиллагаа</a>
								</li>
								<li>
									<a href="#">Шүүгчдийн танилцуулга</a>
								</li>
								<li>
									<a href="#">Тамгын газрын бүтэц, зохион байгуулалт</a>
								</li>
								<li>
									<a href="#">Иргэдийг хүлээж авах хуваарь</a>
								</li>
							</ul>
						</section>
					</div>
					<div class="col-sm-6 col-md-3">
						<section>
							<h3 class="section-title">Улсын дээд шүүх</h3>
							<ul class="section-content">
								<li>
									<a href="#">Хэрэг хянан шийдвэрлэх үйл ажиллагаа</a>
								</li>
								<li>
									<a href="#">Шүүгчдийн танилцуулга</a>
								</li>
								<li>
									<a href="#">Тамгын газрын бүтэц, зохион байгуулалт</a>
								</li>
								<li>
									<a href="#">Иргэдийг хүлээж авах хуваарь</a>
								</li>
							</ul>
						</section>
					</div>
					<div class="col-sm-6 col-md-3">
						<section>
							<h3 class="section-title">Улсын дээд шүүх</h3>
							<ul class="section-content">
								<li>
									<a href="#">Хэрэг хянан шийдвэрлэх үйл ажиллагаа</a>
								</li>
								<li>
									<a href="#">Шүүгчдийн танилцуулга</a>
								</li>
								<li>
									<a href="#">Тамгын газрын бүтэц, зохион байгуулалт</a>
								</li>
								<li>
									<a href="#">Иргэдийг хүлээж авах хуваарь</a>
								</li>
							</ul>
						</section>
					</div>
				</div>
			</div>
			<div class="copyright">
				<div class="container">
					Copyright© 2015 .  Монгол Улсын Дээд шүүх
					<p class="pull-right">
						Вэб сайтыг <a href="#">Онлайн Солушн ХХК</a> бүтээв
					</p>
				</div>
			</div>
		</footer>


		<div class="social">
			<ul>
			    <li class="fb"><a href="#"><i class="fa fa-facebook"></i></a></li>
			    <li class="tw"><a href="#"><i class="fa fa-twitter"></i></a></li>
			    <li class="gp"><a href="#"><i class="fa fa-google-plus"></i></a></li>
			</ul>
		</div>

		<script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js"></script>
		<script type="text/javascript" src="assets/js/jquery.js"></script>
		<script type="text/javascript" src="assets/js/main.js"></script>
	</body>
</html>
